/*Обнуление стилей*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
    overflow-x: hidden;

}

html {
    /* по умолчанию */
    font-size: 16px;
}



// FONTS
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300;500&display=swap');


// Верстка

[class*="__container"] {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;

}

.header {

    background: #CC0000;

    // .header__container

    &__container {
        height: 149px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 500px) {
            height: 140px;
            align-items: center;



        }
    }

    // .header__logo

    &__logo {
        width: 67px;
        height: 109px;

        img {
            max-width: 100%;
        }

        @media(max-width: 500px) {
            width: 50px;
            height: auto;

        }
    }

    // .header__nav

    &__nav {
        font-family: 'Oswald', 'sans-serif';
        font-weight: 400;

        display: flex;
        gap: 40px;

        height: 100%;

        transition: 0.2s;

        @media(max-width: 991.98px) {
            position: absolute;
            top: 0;
            left: -100%;
            background: #CC0000;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            gap: 45px;
            padding-top: 150px;

            &._active {
                left: 0;
            }

        }
    }

    // .header__link

    &__link {
        font-size: 24px;
        color: #000000;
        text-transform: uppercase;


        display: flex;
        align-items: center;

        transition: 0.2s;
        padding: 0 5px;



        &:hover {
            background: #1C1C1C;
            color: #CC0000;
        }

        @media(max-width: 991.98px) {
            font-size: 32px;

            &:hover {
                background: inherit;
                color: inherit;
            }
        }
    }

    // .header__burger
    &__burger {
        background: none;
        max-width: 90px;
        height: 45px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 500;



        transition: 0.3s;

        span {
            width: 100px;
            height: 3px;
            background: #1C1C1C;
        }

        &::before {
            content: '';
            width: 100px;
            height: 3px;
            background: #1C1C1C;

            transition: 0.2s;
        }

        &::after {
            content: '';
            width: 100px;
            height: 3px;
            background: #1C1C1C;
            transition: 0.2s;
        }

        @media(max-width: 991.98px) {
            display: flex;
        }

        &._active {
            display: flex;
            justify-content: flex-start;


            span {
                display: none;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);

            }
        }
    }


}

.main {
    background: #0E0E0E;

}

// ABOUT 

.about {
    padding-top: 100px;

    @media(max-width:767.98px) {
        padding-top: 50px;
    }

    // .about__container

    &__container {}

    // .about__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-weight: 400;
        font-size: 100px;
        color: #CC0000;
        letter-spacing: 2px;

        margin-bottom: 35px;

        &::after {
            content: '';
            max-width: 543px;
            height: 2px;
            background: #1C1C1C;

            display: block;
        }

        @media(max-width:767.98px) {
            font-size: 50px;

            &::after {
                content: '';
                max-width: 243px;
                height: 2px;
                background: #1C1C1C;

                display: block;
            }
        }

        @media(max-width: 500px) {
            font-size: 45px;
        }
    }

    // .about__quote

    &__quote {
        font-family: 'Oswald', 'sans-serif';
        font-weight: 400;
        color: #CC0000;
        font-size: 24px;
        letter-spacing: 2px;
        display: block;

        max-width: 1100px;
        margin-bottom: 25px;

        @media(max-width:767.98px) {
            font-size: 20px;
        }

        @media(max-width: 500px) {
            font-size: 18px;
        }
    }

    // .about__text

    &__text {
        font-family: 'Roboto', 'sans-serif';
        font-weight: 300;

        p {
            font-size: 21px;
            line-height: 180%;
            color: #ffff;

            &:not(:last-child) {
                margin-bottom: 15px;
            }


            @media(max-width:767.98px) {
                font-size: 18px;

            }

            @media(max-width: 500px) {
                font-size: 16px;
            }
        }
    }
}

// RULES 
.rules {

    // .rules__container

    &__container {
        padding-top: 100px;

        @media(max-width: 767.98px) {
            padding-top: 50px;
        }
    }

    // .rules__header

    &__header {
        width: 100%;
        background: #1C1C1C;
        padding-left: 15px;

        padding-bottom: 100px;

        @media(max-width: 767.98px) {
            padding-bottom: 50px;
        }
    }

    // .rules__footer

    &__footer {
        width: 100%;
        background: #1C1C1C;
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 150px;
    }
}

.header-rules {

    // .header-rules__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-size: 70px;
        font-weight: 400;
        text-transform: uppercase;
        color: #CC0000;
        letter-spacing: 2px;

        margin-bottom: 30px;

        &::after {
            content: '';
            max-width: 500px;
            height: 2px;
            background: #CC0000;
            display: block;

            @media(max-width: 991.98px) {
                max-width: 400px;
            }

            @media(max-width: 767.98px) {
                max-width: 300px;
            }

            @media(max-width: 767.98px) {
                max-width: 280px;
            }

            @media(max-width: 340px) {
                max-width: 200px;
            }
        }

        @media(max-width: 991.98px) {
            font-size: 50px;
        }

        @media(max-width: 767.98px) {
            font-size: 40px;
        }

        @media(max-width: 500px) {
            font-size: 35px;
        }
    }

    // .header-rules__list

    &__list {
        max-width: 1100px;

        @media(max-width: 767.98px) {
            max-width: none;
        }
    }

    // .header-rules__list-item

    &__list-item {
        font-family: 'Oswald', 'sans-serif';
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        color: #E1E1E1;

        @media(max-width: 991.98px) {
            font-size: 25px;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media(max-width: 767.98px) {
            font-size: 21px;


        }

        @media(max-width: 500px) {
            font-size: 18px;
        }
    }
}

.footer-rules {

    background-image: url(../img/Logo-gradient.svg);
    background-repeat: no-repeat;
    background-position: bottom right 15px;


    @media(max-width: 991.98px) {
        background-size: 20%;
    }

    // .footer-rules__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-size: 70px;
        font-weight: 400;
        text-transform: uppercase;
        color: #CC0000;
        letter-spacing: 2px;

        margin-bottom: 30px;

        &::after {
            content: '';
            max-width: 500px;
            height: 2px;
            background: #CC0000;
            display: block;

            @media(max-width: 991.98px) {
                max-width: 400px;
            }

            @media(max-width: 767.98px) {
                max-width: 300px;
            }

            @media(max-width: 767.98px) {
                max-width: 270px;
            }

            @media(max-width: 340px) {
                max-width: 200px;
            }
        }

        @media(max-width: 991.98px) {
            font-size: 50px;
        }

        @media(max-width: 767.98px) {
            font-size: 40px;
        }

        @media(max-width: 500px) {
            font-size: 35px;
        }
    }

    // .footer-rules__list

    &__list {
        max-width: 1100px;



        @media(max-width: 767.98px) {
            max-width: none;
        }
    }

    // .footer-rules__list-item

    &__list-item {
        font-family: 'Oswald', 'sans-serif';
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        color: #E1E1E1;
        position: relative;

        padding-left: 80px;

        @media(max-width: 991.98px) {
            padding-left: 60px;
        }

        @media(max-width: 767.98px) {
            padding-left: 37px;
        }

        &::before {
            content: '';
            width: 64px;
            height: 64px;
            background: url(../img/no-icon.svg);
            position: absolute;
            top: 0;
            left: 0;

            @media(max-width: 991.98px) {
                width: 44px;
                height: 44px;
                background-size: cover;
            }

            @media(max-width: 767.98px) {
                width: 33px;
                height: 33px;
                background-size: cover;
            }
        }

        @media(max-width: 991.98px) {
            font-size: 25px;
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media(max-width: 767.98px) {
            font-size: 21px;


        }

        @media(max-width: 500px) {
            font-size: 18px;
        }
    }


}

// GET 

.get {
    padding-top: 150px;
    padding-bottom: 100px;

    @media(max-width: 500px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    // .get__container

    &__container {}

    // .get__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-size: 70px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #CC0000;

        margin-bottom: 50px;

        @media(max-width: 991.98px) {
            text-align: center;
        }

        @media(max-width: 767.98px) {
            font-size: 45px;
        }

        @media(max-width: 400px) {
            font-size: 30px;
        }


    }

    // .get__list

    &__list {}

    // .get__list-item

    &__list-item {
        font-family: 'Oswald', 'sans-serif';
        font-size: 40px;
        font-weight: 400;
        color: #E1E1E1;

        position: relative;

        @media(max-width: 991.98px) {
            text-align: center;
        }

        @media(max-width: 767.98px) {
            font-size: 24px;
        }

        @media(max-width: 400px) {
            font-size: 20px;
        }



        &::before {
            content: '';
            width: 82px;
            height: 100px;
            background: url(../img/pulse-icon.svg);
            display: inline-block;
            vertical-align: middle;
            transform: translateY(-10px);

            margin-right: 30px;

            @media(max-width: 991.98px) {
                margin-right: 25px;
            }

            @media(max-width: 767.98px) {
                margin-right: 15px;
            }

        }

        &:not(:last-child) {
            margin-bottom: 45px;
        }

    }
}

// TEAM
.team {

    // .team__container

    &__container {}

    // .team__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-size: 70px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #CC0000;
        text-transform: uppercase;

        margin-bottom: 90px;

        @media(max-width: 991.98px) {
            text-align: center;
        }

        @media(max-width:500px) {
            font-size: 40px;
            margin-bottom: 40px;
        }

    }

    // .team__block

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;



        &:not(:last-child) {
            margin-bottom: 120px;
        }

        @media(max-width: 991.98px) {
            flex-direction: column;
            gap: 40px;
        }


    }

    .team__block_reverse {
        flex-direction: row-reverse;

        @media(max-width: 991.98px) {
            flex-direction: column;
        }
    }

    // .team__info

    &__info {
        max-width: 550px;

        @media(max-width: 991.98px) {
            text-align: center;
        }
    }

    // .team__name

    &__name {
        font-family: 'Oswald', 'sans-serif';
        font-size: 50px;
        font-weight: 300;
        color: #CC0000;
        text-transform: uppercase;

        margin-bottom: 34px;

        @media(max-width:500px) {
            font-size: 30px;
        }
    }

    // .team__text

    &__text {
        font-family: 'Roboto', 'sans-serif';
        font-size: 21px;
        font-weight: 300;
        line-height: 150%;
        color: #E1E1E1;

        @media(max-width:500px) {
            font-size: 18px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    // .team__image

    &__image {
        img {
            max-width: 100%;
        }
    }
}

// QUESTIONS

.questions {
    padding-top: 150px;

    // .questions__container

    &__container {}

    // .questions__title

    &__title {
        font-family: 'Oswald', 'sans-serif';
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #808080;
        text-transform: uppercase;
        text-align: center;

        margin-bottom: 70px;

        @media(max-width: 991.98px) {
            font-size: 40px;
        }

        @media(max-width: 767.98px) {
            font-size: 30px;
        }


    }

    // .questions__block

    &__block {
        max-width: 1000px;
        margin: 0 auto 50px auto;


    }

    // .questions__question

    &__question {
        width: 100%;
        background: #373737;

        padding: 15px 70px;
        position: relative;
        cursor: pointer;
        user-select: none;

        @media(max-width: 767.98px) {
            padding: 15px 30px 30px 70px;
        }

        @media(max-width: 500px) {}


        &._active {
            &::before {
                content: '';
                width: 44px;
                height: 2px;
                background: url(../img/hide.svg);
                position: absolute;
                top: 50px;
                left: 7px;

                cursor: pointer;
            }
        }


        &::before {
            content: '';
            width: 44px;
            height: 44px;
            background: url(../img/show.svg);
            position: absolute;
            top: 15px;
            left: 7px;

            cursor: pointer;
        }



        p {
            font-family: 'Roboto', 'sans-serif';
            font-size: 24px;
            font-weight: 300;
            line-height: 150%;
            color: #FFFFFF;

            @media(max-width: 991.98px) {
                font-size: 18px;
            }





        }
    }

    // .questions__answer

    &__answer {
        width: 100%;
        background: #1C1C1C;

        padding: 15px 70px;
        cursor: pointer;

        display: none;

        &._active {
            display: block;
        }

        p {
            font-family: 'Roboto', 'sans-serif';
            font-size: 24px;
            font-weight: 300;
            line-height: 150%;
            color: #FFFFFF;


        }
    }
}